1. What are escape characters, and how do you use them?

In [1]:
#To insert characters that are illegal in a string

#An escape character is a backslash \ followed by the character you want to insert.


Name ="My name is ROhit.  \"rohit\" and i teach python" #(we want to insert doublec quotes in string)

print(Name)

My name is ROhit.  "rohit" and i teach python

2. What do the escape characters n and t stand for?

In [2]:
# n for new line

# t stand for tab

print("ROhit kumar")

print("Rohit \nkumar") # will print kumar from new line

print("Rohit \tkumar") # will print spaces between rohit and kumar

ROhit kumar
Rohit
kumar
Rohit 	kumar

3. What is the way to include backslash characters in a string?

In [3]:
# use \\

print("ROhit \\ kumar")

ROhit \ kumar

5. How do you write a string of newlines if you don't want to use the n character?

In [4]:
# """ """ (multiline string can be used)

print("""Rohit 
Kumar
Tyagi""")

Rohit
Kumar
Tyagi

6. What are the values of the given expressions?

'Hello, world!'[1]

'Hello, world!'[0:5]

'Hello, world!'[:5]

'Hello, world!'[3:]

In [5]:
# 'Hello, world!'[1] will print character at index 1 (e)
print('Hello, world!'[1])

e

In [6]:
'Hello, world!'[0:5] # will print from index 0 to 4

'Hello'

In [7]:
'Hello, world!'[:5] # same as above 0 to 4

'Hello'

In [8]:
'Hello, world!'[3:] # from index 3 to end

'lo, world!'

7. What are the values of the following expressions?

'Hello'.upper()

'Hello'.upper().isupper()

'Hello'.upper().lower()

In [9]:
#. upper () will convert all characters to upper case

'Hello'.upper()

'HELLO'

In [10]:
'Hello'.upper().isupper() # will return true or false after checking all latters are in upper case or not

True

In [11]:
'Hello'.upper().lower() # will return lower case string

'hello'

8. What are the values of the following expressions?

In [12]:
'Remember, remember, the fifth of July.'.split() # will return a list of splitted string by space

['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']

In [13]:
'-'.join('There can only one.'.split()) # first will split the string by space after that add desh in string

'There-can-only-one.'

9. What are the methods for right-justifying, left-justifying, and centering a string?

In [14]:
#left justifying
"Rohit".ljust(20)

'Rohit               '

In [15]:
#right justifying

"Rohit".rjust(10)

'     Rohit'

In [19]:
#center
"Rohit".center(10)

'  Rohit   '

10. What is the best way to remove whitespace characters from the start or end?

In [25]:
# strip from left and right both

"       My    name is      rohit    ".strip(" ")

'rohit     is     name and my         this'

In [21]:
# left strip
"       My    name is      rohit    ".lstrip()

'rohit     is     name and my         this   '

In [23]:
#rstrip

"       My    name is      rohit    ".rstrip()

'  rohit     is     name and my         this'

In [32]:
# using replace method

"       My    name is      rohit    ".replace(" ","")

'Mynameisrohit'